<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/cht/Documents/projects/qrslate/QRSlate_App</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-04-16T20:55:37Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/cht/Documents/projects/qrslate/objc/src/zxing/CGImageLuminanceSource.h</string>
		<string>/Users/cht/QRSlate_App 11-6-11 9.04 PM/usr/local/lib/zxing.bundle</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
